@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    padding: 0;
    margin: 0;

    text-decoration: none;
    font-family: "Reem Kufi Fun";
    color: white;
}

:root {
    --color: #02A8B1;
    --color: #0C333E;
    --color: #ddb412;
    --color: #dbc16a;
    --color: #5f001d;
}

#ini a {
    color: #00ece1;
}

#ini:hover {
    border: 1px solid #00ece1;
    background-color: #009985;
    box-shadow: 4px 4px 20px 1px rgb(0 158 105);
}

#gamb {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: #ddb412;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
}

header div p {
    color: white;
    font-size: 20px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
}

nav ul li {
    position: relative;
    transition: 0.6s;
    cursor: pointer;
    padding: 6px;
    text-align: center;
}

nav ul li:hover {
    border-radius: 20px 0px;
    box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.411);
    padding: 10px;
    border: 1px solid #f8c600;
}

nav ul li ul li:hover {
    padding: 8px;
}

nav ul li ul{
    margin: 11px auto auto -11px;
    background-image: linear-gradient(to bottom, #ecc543, #02A8B1);
    border: 1px solid #f8c600;
}

nav ul li ul li a:hover{
    transition: 1s;
    color: #095fff;
}

nav ul li a{
    display: inline-block;
}

nav ul ul{
    display: none;
    box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.411);
    position: absolute;
    padding: 10px;
    border-radius: 0px 20px;
    z-index: 17;
}

nav ul ul li a{
    border-radius: 0px 20px;
    justify-content: center;
    
}

nav ul li:hover ul{
    display: block;
    
}

nav ul li a{
    display: block;
}

#sobsent a{
    color: #dbc16a;
}

#sobsent:hover {
    box-shadow: 4px 4px 20px 1px rgb(158, 134, 0);
    background-color: #a57e00;
}

#sobrui a{
    color: #00cfb4;
}

#sobrui:hover {
    border: 1px solid #00ece1;
    background-color: #009985;
    box-shadow: 4px 4px 20px 1px rgb(0 158 105);
}

#jgs:hover {
    box-shadow: 4px 4px 20px 1px rgb(158, 134, 0);
    background-color: #a57e00;
}

